body {
  background: #dbdbdb;
  font-family: "Noto Sans", sans-serif;
}
header {
  height: 19em;
  text-align: center;
  color: white;
  background-image: url("../public/header-bg.jpg");
  background-color: #162f32;
}
header h1 {
  padding-top: 1.5em;
  margin: 0;
  font-size: 3em;
  font-family: "Bungee Shade", cursive;
}

img {
  min-width: 21em;
  width: 100%;
  height: 15em;
  object-fit: cover;
}

table img {
  height: 6em;
}

form {
  display: flex;
  flex-direction: column;
}

button,
.btn {
  color: #fff;
  background-color: #01824c;
  border: solid 1px #01824c;
  padding: 10px 30px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 5px;
  transition: 800ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

button:hover,
.btn:hover {
  transition: 800ms;
  padding: 10px 40px;
  transform: translateY(-0px);
  background-color: #00cc7a;
  border: solid 1px #00cc7a;
  color: #ffffff;
  border: none;
}

.navbar {
  padding: 2em 0;
  text-align: center;
  background-color: #162f32;
}

.navbar a {
  transition: 500ms;
  color: white;
  text-decoration: none;
  padding: 2em;
}

.navbar a:hover {
  transition: 500ms;
  background: #01824c;
}

.card {
  padding-bottom: 2em;
}
.card button {
  position: relative;
}

.card section {
  margin: 1em;
}

.info {
  text-align: center;
}

.input {
  padding-bottom: 1em !important;
}

.completed {
  justify-content: center;
  display: flex;
}
.remove {
  background-color: #dbdbdb;
  color: #162f32;
  border: solid 1px #820101;
}

.remove:hover {
  border: solid 1px #b70000;
  background-color: #b70000;
}
